name: Dart

on:
  - push
  - pull_request_target

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image:  google/dart:latest

    steps:
      - uses: actions/checkout@v2

      - name: Print Dart SDK version
        run: dart --version

      - name: Install dependencies
        run: dart pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze

      - name: Run tests
        env:
            MAL_ACCESS_TOKEN: ${{ secrets.MAL_ACCESS_TOKEN }}
        run: dart test
